<!DOCTYPE html>
<html>
<head>
    <title>Pokemon</title>
</head>
<body>
    <h1>Pokemon</h1>
    <input type="text" id="pokemon-name" placeholder="Enter a Pokemon name">
    <button type="button" onclick="getPokemonImage()">Get Pokemon Image</button>
    <div id="pokemon-image"></div>


    function getPokemonImage() {
    var pokemonName = document.getElementById("pokemon-name").value;
    var request = new XMLHttpRequest();
    request.open("GET", "https://pokeapi.co/api/v2/pokemon/" + pokemonName);
    request.onload = function() {
    if (request.status === 200) {
    var pokemon = JSON.parse(request.responseText);
    var pokemonImage = pokemon.sprites.front_default;
    document.getElementById("pokemon-image").innerHTML = "
    <img src='" + pokemonImage + "' alt='" + pokemonName + "'>";
    } else {
    alert("Error getting Pokemon image: " + request.statusText);
    }
    };
    request.send();
    }
</body>


</html>


